@import "tailwindcss";

* {
  font-family: var(--font-mazzard);
}

:root {
  --main-bg: #E5E9EB;
  --background: #050505;
  --nav-text: #848484;
  --theme-color: #B77895;
  --theme-hover: #ffacf3;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



.logo {
  font-family: var(--font-radis);
}

.nav-hover::after {
  content: "";
  position: absolute;
  background-color: #848484;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.3s;
}

.nav-hover:hover::after {
  width: 100%;
}

.btn {
  background: linear-gradient(to top, #ffacf3 50%, #B77895 50%);
  background-size: 100% 200%;
  background-position: top;
}

.btn:hover {
  background-position: bottom;
  color: #000;
}

::selection {
  background: #464646;
}

.arrow-div {
  animation: moveUpDown 3s ease-in-out infinite;
}

@keyframes moveUpDown {
  0%, 100% {
    top: 55vh;
  }
  50% {
    top: 52vh;
  }
}

.card {
  box-shadow: 0 0 100px 5px #fff;
}